<nz-table #table
          nzBordered
          nzSize="middle"
          [nzShowSizeChanger]="showSizeChanger"
          [nzData]="dataSource"
          [nzLoading]="loading"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          [nzTotal]="total"
          [nzShowQuickJumper]="showQuickJumper"
          [nzHideOnSinglePage]="hideOnSinglePage"
          [nzFrontPagination]="false"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)">
  <thead>
  <tr>
    <ng-container *ngFor="let header of columns">
      <th [nzShowSort]="header.sort"
          [(nzSort)]="sortMap[header.column]" (nzSortChange)="sort($event,header)"

          [nzShowFilter]="header.filter"
          [nzFilters]="header.filterList"
          (nzFilterChange)="updateFilter($event, header)">{{header.title}}
      </th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of table.data">
    <td *ngFor="let col of columns;let i=index;">
      {{getColumnData(row,col,i)}}
    </td>
  </tr>
  </tbody>
</nz-table>
