<div id="item">
  <div nz-row>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 5, offset: 1 }">
      <!--Col-->
    </div>
    <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 6, offset:3 }">
      <div id="login">
        <div id="logo">
          <img src="http://placehold.it/50x50" alt="">
          <span class="logoName">{{logoName}}</span><br>
          <div class="ads">
            <span>{{ads[0]}} · </span><span>{{ads[1]}}  · </span><span>{{ads[2]}} · </span><span>{{ads[3]}}</span>
          </div>

        </div>
        <div id="box">
          <div class="sysName">{{sysName}}</div>
          <input type="text" nz-input class='user' placeholder="请输入用户名"><br>
          <input type="text" nz-input class='password' placeholder="请输入密码"><br>
          <div class="checkbox">
            <input type="checkbox"><span>&nbsp;记住我（公众场所慎用）</span>
          </div>

          <input type="button" nz-button class='btn' nzType="primary" nzValue="large" value="登录">
        </div>
      </div>
    </div>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 5, offset: 4 }">
      <!--Col-->
    </div>
  </div>

</div>
