<div class="table-operations">
  <div layout="row" layout-align="start center"
       [class.split-border]="(platformList && platformList.length) || (categoryList && categoryList.length)">
    <h3 flex>{{title}}</h3>
    <button nz-button (click)="exportData.emit()" *ngIf="!noExportData">导出 Excel</button>
  </div>
  <div layout="row" *ngIf="platformList || categoryList">
    <div flex>
      <nz-radio-group *ngIf="platformList && platformList.length"
                      [nzDisabled]="loading"
                      [(ngModel)]="platform"
                      (ngModelChange)="chagneFn(platformChange,platform)">
        <label nz-radio-button nzValue="" *ngIf="!hidePlatformAll">全部</label>
        <label nz-radio-button
               *ngFor="let platform of platformList"
               [nzValue]="platform.value">
          {{platform.label}}
        </label>
      </nz-radio-group>
    </div>
    <div>
      <nz-select *ngIf="categoryList && categoryList.length"
                 style="width: 150px;"
                 [nzDisabled]="loading"
                 [(ngModel)]="category"
                 (ngModelChange)="chagneFn(categoryChange,category)">
        <nz-option nzValue="" nzLabel="全部" *ngIf="!hideCategoryAll"></nz-option>
        <nz-option *ngFor="let category of categoryList"
                   [nzLabel]="category.label"
                   [nzValue]="category.value"></nz-option>
      </nz-select>
    </div>
  </div>
</div>
