<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.StaShopMapper" >
  <resultMap id="BaseResultMap" type="com.example.entity.StaShop" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DATE" property="date" jdbcType="DATE" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
    <result column="MONTH" property="month" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="DISRICT" property="disrict" jdbcType="CHAR" />
    <result column="PLATFORM" property="platform" jdbcType="VARCHAR" />
    <result column="SHOP_ID" property="shopId" jdbcType="VARCHAR" />
    <result column="SHOP_NAME" property="shopName" jdbcType="VARCHAR" />
    <result column="P_COUNT" property="pCount" jdbcType="BIGINT" />
    <result column="SALES_COUNT" property="salesCount" jdbcType="DOUBLE" />
    <result column="SALES_VOLUME" property="salesVolume" jdbcType="DOUBLE" />
    <result column="sales_volume_LEVEL" property="salesVolumeLevel" jdbcType="CHAR" />
    <result column="UNIT_TYPE" property="unitType" jdbcType="VARCHAR" />
    <result column="INSERT_TIME" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="BIGINT" />
    <result column="REMARK1" property="remark1" jdbcType="CHAR" />
    <result column="REMARK2" property="remark2" jdbcType="CHAR" />
    <result column="RAMARK3" property="ramark3" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DATE, YEAR, MONTH, COUNTRY, PROVINCE, CITY, DISRICT, PLATFORM, SHOP_ID, SHOP_NAME, 
    P_COUNT, SALES_COUNT, SALES_VOLUME, sales_volume_LEVEL, UNIT_TYPE, INSERT_TIME, UPDATE_TIME, 
    UPDATE_USER, STATUS, REMARK1, REMARK2, RAMARK3
  </sql>

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.example.entity.StaShop">
    select
    <include refid="Base_Column_List" />
    from tb_sta_shop
    <trim prefix="where" prefixOverrides="and | or">
      <include refid="dynamicWhere"/>
    </trim>
  </select>

  <select id="selectAllWithPage" resultMap="BaseResultMap" parameterType="com.example.entity.StaShop">
    select
    <include refid="Base_Column_List" />
    from tb_sta_shop
    where ID > (#{pageNo}-1)*#{pageSize} limit #{pageSize}
    <include refid="dynamicWhere"/>
  </select>

  <select id="selectPageCount" resultMap="BaseResultMap" parameterType="com.example.entity.StaShop">
    select
    <include refid="Base_Column_List" />
    from tb_sta_shop
    where ID > (#{pageNo}-1)*#{pageSize} limit #{pageSize}
    <include refid="dynamicWhere"/>
  </select>

  <sql id="dynamicWhere">
      <if test="year!=null">
          AND YEAR = #{year,jdbcType=VARCHAR}
      </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_sta_shop
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sta_shop
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.entity.StaShop" >
    insert into tb_sta_shop (ID, DATE, YEAR, 
      MONTH, COUNTRY, PROVINCE, 
      CITY, DISRICT, PLATFORM, 
      SHOP_ID, SHOP_NAME, P_COUNT, 
      SALES_COUNT, SALES_VOLUME, sales_volume_LEVEL, 
      UNIT_TYPE, INSERT_TIME, UPDATE_TIME, 
      UPDATE_USER, STATUS, REMARK1, 
      REMARK2, RAMARK3)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{year,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{disrict,jdbcType=CHAR}, #{platform,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, #{pCount,jdbcType=BIGINT}, 
      #{salesCount,jdbcType=DOUBLE}, #{salesVolume,jdbcType=DOUBLE}, #{salesVolumeLevel,jdbcType=CHAR}, 
      #{unitType,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=CHAR}, #{status,jdbcType=BIGINT}, #{remark1,jdbcType=CHAR}, 
      #{remark2,jdbcType=CHAR}, #{ramark3,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.entity.StaShop" >
    insert into tb_sta_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="date != null" >
        DATE,
      </if>
      <if test="year != null" >
        YEAR,
      </if>
      <if test="month != null" >
        MONTH,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="disrict != null" >
        DISRICT,
      </if>
      <if test="platform != null" >
        PLATFORM,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="shopName != null" >
        SHOP_NAME,
      </if>
      <if test="pCount != null" >
        P_COUNT,
      </if>
      <if test="salesCount != null" >
        SALES_COUNT,
      </if>
      <if test="salesVolume != null" >
        SALES_VOLUME,
      </if>
      <if test="salesVolumeLevel != null" >
        sales_volume_LEVEL,
      </if>
      <if test="unitType != null" >
        UNIT_TYPE,
      </if>
      <if test="insertTime != null" >
        INSERT_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark1 != null" >
        REMARK1,
      </if>
      <if test="remark2 != null" >
        REMARK2,
      </if>
      <if test="ramark3 != null" >
        RAMARK3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="disrict != null" >
        #{disrict,jdbcType=CHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="pCount != null" >
        #{pCount,jdbcType=BIGINT},
      </if>
      <if test="salesCount != null" >
        #{salesCount,jdbcType=DOUBLE},
      </if>
      <if test="salesVolume != null" >
        #{salesVolume,jdbcType=DOUBLE},
      </if>
      <if test="salesVolumeLevel != null" >
        #{salesVolumeLevel,jdbcType=CHAR},
      </if>
      <if test="unitType != null" >
        #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=CHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=CHAR},
      </if>
      <if test="ramark3 != null" >
        #{ramark3,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.StaShop" >
    update tb_sta_shop
    <set >
      <if test="date != null" >
        DATE = #{date,jdbcType=DATE},
      </if>
      <if test="year != null" >
        YEAR = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        MONTH = #{month,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="disrict != null" >
        DISRICT = #{disrict,jdbcType=CHAR},
      </if>
      <if test="platform != null" >
        PLATFORM = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="pCount != null" >
        P_COUNT = #{pCount,jdbcType=BIGINT},
      </if>
      <if test="salesCount != null" >
        SALES_COUNT = #{salesCount,jdbcType=DOUBLE},
      </if>
      <if test="salesVolume != null" >
        SALES_VOLUME = #{salesVolume,jdbcType=DOUBLE},
      </if>
      <if test="salesVolumeLevel != null" >
        sales_volume_LEVEL = #{salesVolumeLevel,jdbcType=CHAR},
      </if>
      <if test="unitType != null" >
        UNIT_TYPE = #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=BIGINT},
      </if>
      <if test="remark1 != null" >
        REMARK1 = #{remark1,jdbcType=CHAR},
      </if>
      <if test="remark2 != null" >
        REMARK2 = #{remark2,jdbcType=CHAR},
      </if>
      <if test="ramark3 != null" >
        RAMARK3 = #{ramark3,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.entity.StaShop" >
    update tb_sta_shop
    set DATE = #{date,jdbcType=DATE},
      YEAR = #{year,jdbcType=VARCHAR},
      MONTH = #{month,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      DISRICT = #{disrict,jdbcType=CHAR},
      PLATFORM = #{platform,jdbcType=VARCHAR},
      SHOP_ID = #{shopId,jdbcType=VARCHAR},
      SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      P_COUNT = #{pCount,jdbcType=BIGINT},
      SALES_COUNT = #{salesCount,jdbcType=DOUBLE},
      SALES_VOLUME = #{salesVolume,jdbcType=DOUBLE},
      sales_volume_LEVEL = #{salesVolumeLevel,jdbcType=CHAR},
      UNIT_TYPE = #{unitType,jdbcType=VARCHAR},
      INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=CHAR},
      STATUS = #{status,jdbcType=BIGINT},
      REMARK1 = #{remark1,jdbcType=CHAR},
      REMARK2 = #{remark2,jdbcType=CHAR},
      RAMARK3 = #{ramark3,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>