<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.StaTotalMapper">
    <resultMap id="BaseResultMap" type="com.example.entity.StaTotal">
        <result column="DATE" jdbcType="DATE" property="date"/>
        <result column="YEAR" jdbcType="VARCHAR" property="year"/>
        <result column="MONTH" jdbcType="VARCHAR" property="month"/>
        <result column="COUNTRY" jdbcType="VARCHAR" property="country"/>
        <result column="PROVINCE" jdbcType="VARCHAR" property="province"/>
        <result column="CITY" jdbcType="VARCHAR" property="city"/>
        <result column="DISTRICT" jdbcType="VARCHAR" property="district"/>
        <result column="INDEX_TYPE" jdbcType="VARCHAR" property="indexType"/>
        <result column="INDEX_VALUE" jdbcType="REAL" property="indexValue"/>
        <result column="MOM" jdbcType="REAL" property="mom"/>
        <result column="YOY" jdbcType="REAL" property="yoy"/>
        <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType"/>
        <result column="RANK_IN_COUNTRY" jdbcType="INTEGER" property="rankInCountry"/>
        <result column="RANK_IN_PROVINCE" jdbcType="INTEGER" property="rankInProvince"/>
        <result column="RANK_IN_CITY" jdbcType="INTEGER" property="rankInCity"/>
        <result column="INSERT_TIME" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
        <result column="RAMARK1" jdbcType="VARCHAR" property="ramark1"/>
        <result column="REMARK2" jdbcType="VARCHAR" property="remark2"/>
        <result column="REMARK3" jdbcType="VARCHAR" property="remark3"/>
    </resultMap>
    <sql id="Base_Column_List">
    DATE, YEAR, MONTH, COUNTRY, PROVINCE, CITY, DISTRICT, INDEX_TYPE, INDEX_VALUE,
    MOM, YOY, UNIT_TYPE, RANK_IN_COUNTRY, RANK_IN_PROVINCE, RANK_IN_CITY, INSERT_TIME, 
    UPDATE_TIME, UPDATE_USER, STATUS, RAMARK1, REMARK2, REMARK3
  </sql>

    <!--首页指标-->
    <select id="selectHomeIndex" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        select index_type indexType,sum(INDEX_VALUE) totalVolume,UNIT_TYPE unitType
        from tb_sta_total
        <trim prefix="where" prefixOverrides="and | or">
            <include refid="dynamicWhere"/>
        </trim>
        GROUP BY index_type
    </select>

    <!--首页电子商务就业人数指标-->
    <select id="selectHomeIndexPeople" resultType="com.example.entity.StaTotal">
        select INDEX_VALUE totalVolume from tb_sta_total where date = (select max(date) from tb_sta_total where index_type = '电子商务从业人数') and index_type = '电子商务从业人数'
        <if test="province!=null">
            AND PROVINCE = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city!=null">
            AND CITY = #{city,jdbcType=VARCHAR}
        </if>
        <if test="ramark1!=null">
            AND RAMARK1 = #{ramark1,jdbcType=VARCHAR}
        </if>
    </select>

    <!--首页电子商务企业数指标-->
    <select id="selectHomeIndexCompany" resultType="com.example.entity.StaTotal">
        select INDEX_VALUE totalVolume from tb_sta_total where date = (select max(date) from tb_sta_total where index_type = '电子商务企业数') and index_type = '电子商务企业数'
        <if test="province!=null">
            AND PROVINCE = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city!=null">
            AND CITY = #{city,jdbcType=VARCHAR}
        </if>
        <if test="ramark1!=null">
            AND RAMARK1 = #{ramark1,jdbcType=VARCHAR}
        </if>
    </select>

    <!--首页全国排名-->
    <select id="selectHomeCountryRank" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        select * from (
        select PROVINCE,sum(INDEX_VALUE) total, (@i:=@i+1) as row from tb_sta_total,(select @i:=0) as it where
        INDEX_TYPE='电商整体交易额' and ramark1 = '省级汇总数据'
        <include refid="dynamicWhere"/>
        GROUP BY PROVINCE)t
        ORDER BY total desc
    </select>

    <!--首页全省排名-->
    <select id="selectHomeProvinceRank" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        select * from (
        select CITY,sum(INDEX_VALUE) total, (@i:=@i+1) as row from tb_sta_total,(select @i:=0) as it where
        INDEX_TYPE='电商整体交易额' and ramark1 = '市级汇总数据'
        <include refid="dynamicWhere"/>GROUP BY CITY)t
        ORDER BY total desc
    </select>

    <!--首页-电子商务市场结构-交易类型-->
    <select id="selectHomeBusinessSale" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        SELECT
        sum(index_value) total,'B2B交易额' type
        from tb_sta_total where INDEX_TYPE in ('B2B交易额')
        <include refid="dynamicWhere"/>
        UNION
        SELECT
        sum(index_value) total,'网络零售交易额' type
        from tb_sta_total where INDEX_TYPE in ('网络零售交易额')
        <include refid="dynamicWhere"/>
        UNION
        SELECT
        sum(index_value) total,'大宗商品现货交易额' type
        from tb_sta_total where INDEX_TYPE in ('大宗商品现货交易额')
        <include refid="dynamicWhere"/>
        UNION
        SELECT
        sum(index_value) total,'服务类交易额' type
        from tb_sta_total where INDEX_TYPE in ('服务类交易额')
        <include refid="dynamicWhere"/>
    </select>

    <!--首页-电子商务市场结构-进出口-->
    <select id="selectHomeBusinessTrade" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        SELECT
        sum(index_value) total,'跨境电商出口额' type
        from tb_sta_total where INDEX_TYPE in ('跨境电商出口额')
        <include refid="dynamicWhere"/>
        UNION
        SELECT
        sum(index_value) total,'跨境电商进口额' type
        from tb_sta_total where INDEX_TYPE in ('跨境电商进口额')
        <include refid="dynamicWhere"/>
    </select>

    <!--首页-电子商务市场结构-服务、实物-->
    <select id="selectHomeBusinessService" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        SELECT
        sum(index_value) total,'实物商品网购交易额' type
        from tb_sta_total where INDEX_TYPE in ('实物商品网购交易额')
        <include refid="dynamicWhere"/>
        UNION
        SELECT
        sum(index_value) total,'服务网购交易额' type
        from tb_sta_total where INDEX_TYPE in ('服务网购交易额')
        <include refid="dynamicWhere"/>
    </select>

    <!--首页-电子商务市场结构-城市/农村-->
    <select id="selectHomeBusinessCity" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        SELECT
        sum(index_value) total,'农村电商交易额' type
        from tb_sta_total where INDEX_TYPE in ('农村电商交易额')
        <include refid="dynamicWhere"/>
        UNION
        SELECT
        sum(index_value) total,'城市电商交易额' type
        from tb_sta_total where INDEX_TYPE in ('城市电商交易额')
        <include refid="dynamicWhere"/>
    </select>

    <!--各地核心电商指标速览-->
    <select id="selectCityLine" resultType="com.example.entity.StaTotal" parameterType="com.example.entity.StaTotal">
        select * from
        (select sum(INDEX_VALUE) totalVolume,city
        from tb_sta_total
        <trim prefix="where" prefixOverrides="and|or">
            <if test="indexType1!=null">
                AND INDEX_TYPE like CONCAT('%',#{indexType1,jdbcType=VARCHAR},'%')
            </if>
            <include refid="dynamicWhere"/>
        </trim>
        group by city) t1
        <if test="indexType2!=null">
            left join
            ( select sum(INDEX_VALUE) totalCount,city
            from tb_sta_total
            where INDEX_TYPE like CONCAT('%',#{indexType2,jdbcType=VARCHAR},'%')
            <include refid="dynamicWhere"/>
            group by city) t2
            on t1.city=t2.city
        </if>
    </select>

    <!--各地核心电商指标速览-->
    <select id="selectCoreCityLine" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        select sum(INDEX_VALUE) totalVolume,date dateStr,city
        from tb_sta_total
        <trim prefix="where" prefixOverrides="and|or">
            <if test="indexType1!=null">
                AND INDEX_TYPE like CONCAT('%',#{indexType1,jdbcType=VARCHAR},'%')
            </if>
            <include refid="dynamicWhere"/>
        </trim>
        and city!='全省'
        group by date,city
    </select>


    <select id="selectLine" resultType="com.example.entity.StaTotal" parameterType="com.example.entity.StaTotal">
        select * from
        (select sum(INDEX_VALUE) totalVolume,date dateStr
        from tb_sta_total
        <trim prefix="where" prefixOverrides="and | or">
            <if test="indexType1!=null">
                AND INDEX_TYPE like CONCAT('%',#{indexType1,jdbcType=VARCHAR},'%')
            </if>
            <include refid="dynamicWhere"/>
        </trim>
        group by date
        ORDER BY date asc) t1
        <if test="indexType2!=null">
            left join
            ( select sum(INDEX_VALUE) totalCount,date dateStr2
            from tb_sta_total
            <trim prefix="where" prefixOverrides="and | or">
                AND INDEX_TYPE like CONCAT('%',#{indexType2,jdbcType=VARCHAR},'%')
                <include refid="dynamicWhere"/>
            </trim>
            group by date
            ORDER BY date asc) t2
            on t1.dateStr = t2.dateStr2
        </if>
    </select>

    <select id="selectAllWithPage" resultType="com.example.entity.StaTotal" parameterType="com.example.entity.StaTotal">
        select * from
        (select sum(INDEX_VALUE) totalVolume,sum(mom) totalMum,date_format(DATE,'%Y-%m') dateStr
        from tb_sta_total
        <trim prefix="where" prefixOverrides="and | or">
            <if test="indexType!=null">
                AND INDEX_TYPE like CONCAT('%',#{indexType,jdbcType=VARCHAR},'%')
            </if>
            <include refid="pageDynamicWhere"/>
        </trim>
        group by date
        ORDER BY date asc) t1
        <if test="indexType2!=null">
            left join
            (select sum(INDEX_VALUE) totalCount,sum(mom) totalCountMum,date_format(DATE,'%Y-%m') dateStr2
            from tb_sta_total
            <trim prefix="where" prefixOverrides="and | or">
                <if test="indexType2!=null">
                    AND INDEX_TYPE like CONCAT('%',#{indexType2,jdbcType=VARCHAR},'%')
                </if>
                <include refid="pageDynamicWhere"/>
            </trim>
            group by date
            ORDER BY date asc) t2
            on t1.dateStr = t2.dateStr2
        </if>
        limit #{pageRow},#{pageSize}
    </select>

    <sql id="pageDynamicWhere">
        <if test="dateBegin!=null and dateEnd!=null">
            AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
        </if>
        <if test="year!=null">
            AND YEAR = #{year,jdbcType=VARCHAR}
        </if>
        <if test="month!=null">
            AND MONTH = #{month,jdbcType=VARCHAR}
        </if>
        <if test="province!=null">
            AND PROVINCE = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city!=null">
            AND CITY = #{city,jdbcType=VARCHAR}
        </if>
        <if test="ramark1!=null">
            AND RAMARK1 = #{ramark1,jdbcType=VARCHAR}
        </if>
    </sql>
    <!--区域趋势速览-->
    <select id="selectAreaWithPage" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        select date_format(DATE,'%Y-%m') dateStr,PROVINCE,city,index_type indexType,index_value total,mom totalMom from tb_sta_total
        <trim prefix="where" prefixOverrides="and | or">
            <include refid="dynamicWhere"/>
        </trim>
        ORDER BY CITY,INDEX_TYPE,DATE desc
        limit #{pageRow},#{pageSize}
    </select>

    <!--区域整体对比-->
    <select id="selectAreaWholeWithPage" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        select * from (
        select date dateStr,PROVINCE,city,index_type indexType,index_value total from tb_sta_total
        <trim prefixOverrides="and|or" prefix="where">
            <if test="dateBegin!=null and dateEnd!=null">
                AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
            </if>
            <if test="province!=null">
                AND PROVINCE = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city!=null">
                AND CITY = #{city,jdbcType=VARCHAR}
            </if>
        </trim>
        and INDEX_TYPE ='电子商务从业人数'
                ORDER BY date desc limit 1) a
        UNION
        select * from (
        select date dateStr,PROVINCE,city,index_type indexType,index_value total from tb_sta_total
        <trim prefixOverrides="and|or" prefix="where">
            <if test="dateBegin!=null and dateEnd!=null">
                AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
            </if>
            <if test="province!=null">
                AND PROVINCE = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city!=null">
                AND CITY = #{city,jdbcType=VARCHAR}
            </if>
        </trim>
        and INDEX_TYPE ='电子商务店铺数'
                ORDER BY date desc limit 1) b
        UNION
        select * from (
                select CONCAT(#{dateBegin} ,'  ',#{dateEnd}) dateStr,PROVINCE,city,index_type indexType,sum(index_value) total from tb_sta_total
        <trim prefixOverrides="and|or" prefix="where">
            <if test="dateBegin!=null and dateEnd!=null">
                AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
            </if>
            <if test="province!=null">
                AND PROVINCE = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city!=null">
                AND CITY = #{city,jdbcType=VARCHAR}
            </if>
        </trim>
        and INDEX_TYPE not in('电子商务从业人数','电子商务店铺数')
        GROUP BY PROVINCE,CITY,INDEX_TYPE
        ORDER BY CITY,INDEX_TYPE) c
        limit #{pageRow},#{pageSize}
    </select>

    <select id="selectAreaPageCount" resultType="java.lang.Integer" parameterType="com.example.entity.StaTotal">
        select count(1) from (
        select 1 from tb_sta_total
        <trim prefix="where" prefixOverrides="and | or">
            <include refid="dynamicWhere"/>
        </trim>
        ) t
    </select>

    <select id="selectAreaWholePageCount" resultType="java.lang.Integer" parameterType="com.example.entity.StaTotal">
        select count(1) from (
        select * from (
        select index_value total from tb_sta_total
        <trim prefixOverrides="and|or" prefix="where">
            <if test="dateBegin!=null and dateEnd!=null">
                AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
            </if>
            <if test="province!=null">
                AND PROVINCE = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city!=null">
                AND CITY = #{city,jdbcType=VARCHAR}
            </if>
        </trim>
        and INDEX_TYPE ='电子商务从业人数'
        ORDER BY date desc limit 1) a
        UNION
        select * from (
        select index_value total from tb_sta_total
        <trim prefixOverrides="and|or" prefix="where">
            <if test="dateBegin!=null and dateEnd!=null">
                AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
            </if>
            <if test="province!=null">
                AND PROVINCE = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city!=null">
                AND CITY = #{city,jdbcType=VARCHAR}
            </if>
        </trim>
        and INDEX_TYPE ='电子商务店铺数'
        ORDER BY date desc limit 1) b
        UNION
        select * from (
        select sum(index_value) total from tb_sta_total
        <trim prefixOverrides="and|or" prefix="where">
            <if test="dateBegin!=null and dateEnd!=null">
                AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
            </if>
            <if test="province!=null">
                AND PROVINCE = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city!=null">
                AND CITY = #{city,jdbcType=VARCHAR}
            </if>
        </trim>
        and INDEX_TYPE not in('电子商务从业人数','电子商务店铺数')
        GROUP BY PROVINCE,CITY,INDEX_TYPE
        ORDER BY CITY,INDEX_TYPE) c
        ) t
    </select>


    <select id="selectPageCount" resultType="java.lang.Integer" parameterType="com.example.entity.StaTotal">
        select count(1) from (
        select date dateStr
        from tb_sta_total
        <trim prefix="where" prefixOverrides="and | or">
            <if test="indexType1!=null">
                AND INDEX_TYPE like CONCAT('%',#{indexType1,jdbcType=VARCHAR},'%')
            </if>
            <include refid="dynamicWhere"/>
        </trim>
        group by date
        ORDER BY date asc) t1
        <if test="indexType2!=null">
            left join
            (select sum(INDEX_VALUE) totalCount,sum(mom) totalCountMum,date dateStr2
            from tb_sta_total
            <trim prefix="where" prefixOverrides="and | or">
                AND INDEX_TYPE like CONCAT('%',#{indexType2,jdbcType=VARCHAR},'%')
                <include refid="dynamicWhere"/>
            </trim>
            group by date
            ORDER BY date asc) t2
            on t1.dateStr = t2.dateStr2
        </if>
    </select>

    <select id="selectList" parameterType="com.example.entity.StaTotal" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sta_total
        <trim prefix="where" prefixOverrides="and | or">
            <include refid="dynamicWhere"/>
        </trim>
    </select>

    <select id="selectAreaContrastLine" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        select sum(INDEX_VALUE) totalVolume,CITY
        from tb_sta_total
        where index_type = '电商整体交易额'
        <include refid="dynamicWhere"/>
        group by CITY
        ORDER BY totalVolume desc
    </select>


    <select id="selectAreaQysLine" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        select t1.PROVINCE,t1.city,t1.qys,t2.cyrs from
        (SELECT PROVINCE,city,sum(index_value) qys from tb_sta_total where index_type = '企业数'
        <include refid="dynamicWhere"/>
        GROUP BY PROVINCE,city) t1
        left JOIN
        (
        SELECT PROVINCE,city,sum(index_value) cyrs from tb_sta_total where index_type = '从业人数'
        <include refid="dynamicWhere"/>
        GROUP BY PROVINCE,city) t2
        on t1.city = t2.city and t1.PROVINCE=t2.PROVINCE
    </select>

    <!--区域分析-企业数，从业人数,分页-->
    <select id="selectAreaQysWithPage" resultType="com.example.entity.StaTotal"
            parameterType="com.example.entity.StaTotal">
        SELECT * from (
        select t1.dateStr,t1.PROVINCE,t1.city,t1.qys,t2.cyrs,t1.qysmom,t2.cyrsmom from
        (SELECT date dateStr,PROVINCE,city,sum(index_value) qys,sum(mom) qysmom from tb_sta_total where index_type = '电子商务企业数'
        <include refid="dynamicWhere"/>
        GROUP BY date,PROVINCE,city) t1
        left JOIN
        (
        SELECT date dateStr,PROVINCE,city,sum(index_value) cyrs,sum(mom) cyrsmom from tb_sta_total where index_type = '电子商务从业人数'
        <include refid="dynamicWhere"/>
        GROUP BY date,PROVINCE,city) t2
        on t1.city = t2.city and t1.dateStr=t2.dateStr and t1.PROVINCE=t2.PROVINCE
        )c
        limit #{pageRow},#{pageSize}
    </select>

    <select id="selectAreaQysWithPageCount" resultType="java.lang.Integer" parameterType="com.example.entity.StaTotal">
        select count(1) from (
        SELECT date dateStr,PROVINCE,city from tb_sta_total where index_type = '电子商务企业数'
        <include refid="dynamicWhere"/>
          GROUP BY date,PROVINCE,city
        )t
    </select>

    <sql id="dynamicWhere">
        <if test="dateBegin!=null and dateEnd!=null">
            AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
        </if>
        <if test="year!=null">
            AND YEAR = #{year,jdbcType=VARCHAR}
        </if>
        <if test="month!=null">
            AND MONTH = #{month,jdbcType=VARCHAR}
        </if>
        <if test="months!=null">
            AND MONTH in
            <foreach collection="months" item="item" index="index" open="(" close=")" separator=",">
                ${item}
            </foreach>
        </if>
        <if test="province!=null">
            AND PROVINCE = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city!=null">
            AND CITY = #{city,jdbcType=VARCHAR}
        </if>
        <if test="indexType!=null">
            AND INDEX_TYPE like CONCAT('%',#{indexType,jdbcType=VARCHAR},'%')
        </if>
        <if test="ramark1!=null">
            AND RAMARK1 = #{ramark1,jdbcType=VARCHAR}
        </if>
        <if test="doubleParam!=null">
            AND INDEX_TYPE in ('电子商务企业数','电子商务从业人数')
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sta_total
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_sta_total
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.example.entity.StaTotal">
    insert into tb_sta_total (ID, DATE, YEAR, 
      MONTH, COUNTRY, PROVINCE, 
      CITY, DISTRICT, INDEX_TYPE, 
      INDEX_VALUE, MOM, YOY, UNIT_TYPE, 
      RANK_IN_COUNTRY, RANK_IN_PROVINCE, RANK_IN_CITY, 
      INSERT_TIME, UPDATE_TIME, UPDATE_USER, 
      STATUS, RAMARK1, REMARK2, 
      REMARK3)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{year,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{indexType,jdbcType=VARCHAR}, 
      #{indexValue,jdbcType=REAL}, #{mom,jdbcType=REAL}, #{yoy,jdbcType=REAL}, #{unitType,jdbcType=VARCHAR}, 
      #{rankInCountry,jdbcType=INTEGER}, #{rankInProvince,jdbcType=INTEGER}, #{rankInCity,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{ramark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{remark3,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.example.entity.StaTotal">
        insert into tb_sta_total
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="date != null">
                DATE,
            </if>
            <if test="year != null">
                YEAR,
            </if>
            <if test="month != null">
                MONTH,
            </if>
            <if test="country != null">
                COUNTRY,
            </if>
            <if test="province != null">
                PROVINCE,
            </if>
            <if test="city != null">
                CITY,
            </if>
            <if test="district != null">
                DISTRICT,
            </if>
            <if test="indexType != null">
                INDEX_TYPE,
            </if>
            <if test="indexValue != null">
                INDEX_VALUE,
            </if>
            <if test="mom != null">
                MOM,
            </if>
            <if test="yoy != null">
                YOY,
            </if>
            <if test="unitType != null">
                UNIT_TYPE,
            </if>
            <if test="rankInCountry != null">
                RANK_IN_COUNTRY,
            </if>
            <if test="rankInProvince != null">
                RANK_IN_PROVINCE,
            </if>
            <if test="rankInCity != null">
                RANK_IN_CITY,
            </if>
            <if test="insertTime != null">
                INSERT_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="updateUser != null">
                UPDATE_USER,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="ramark1 != null">
                RAMARK1,
            </if>
            <if test="remark2 != null">
                REMARK2,
            </if>
            <if test="remark3 != null">
                REMARK3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="year != null">
                #{year,jdbcType=VARCHAR},
            </if>
            <if test="month != null">
                #{month,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                #{district,jdbcType=VARCHAR},
            </if>
            <if test="indexType != null">
                #{indexType,jdbcType=VARCHAR},
            </if>
            <if test="indexValue != null">
                #{indexValue,jdbcType=REAL},
            </if>
            <if test="mom != null">
                #{mom,jdbcType=REAL},
            </if>
            <if test="yoy != null">
                #{yoy,jdbcType=REAL},
            </if>
            <if test="unitType != null">
                #{unitType,jdbcType=VARCHAR},
            </if>
            <if test="rankInCountry != null">
                #{rankInCountry,jdbcType=INTEGER},
            </if>
            <if test="rankInProvince != null">
                #{rankInProvince,jdbcType=INTEGER},
            </if>
            <if test="rankInCity != null">
                #{rankInCity,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="ramark1 != null">
                #{ramark1,jdbcType=VARCHAR},
            </if>
            <if test="remark2 != null">
                #{remark2,jdbcType=VARCHAR},
            </if>
            <if test="remark3 != null">
                #{remark3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.StaTotal">
        update tb_sta_total
        <set>
            <if test="date != null">
                DATE = #{date,jdbcType=DATE},
            </if>
            <if test="year != null">
                YEAR = #{year,jdbcType=VARCHAR},
            </if>
            <if test="month != null">
                MONTH = #{month,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                COUNTRY = #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                PROVINCE = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                CITY = #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                DISTRICT = #{district,jdbcType=VARCHAR},
            </if>
            <if test="indexType != null">
                INDEX_TYPE = #{indexType,jdbcType=VARCHAR},
            </if>
            <if test="indexValue != null">
                INDEX_VALUE = #{indexValue,jdbcType=REAL},
            </if>
            <if test="mom != null">
                MOM = #{mom,jdbcType=REAL},
            </if>
            <if test="yoy != null">
                YOY = #{yoy,jdbcType=REAL},
            </if>
            <if test="unitType != null">
                UNIT_TYPE = #{unitType,jdbcType=VARCHAR},
            </if>
            <if test="rankInCountry != null">
                RANK_IN_COUNTRY = #{rankInCountry,jdbcType=INTEGER},
            </if>
            <if test="rankInProvince != null">
                RANK_IN_PROVINCE = #{rankInProvince,jdbcType=INTEGER},
            </if>
            <if test="rankInCity != null">
                RANK_IN_CITY = #{rankInCity,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="ramark1 != null">
                RAMARK1 = #{ramark1,jdbcType=VARCHAR},
            </if>
            <if test="remark2 != null">
                REMARK2 = #{remark2,jdbcType=VARCHAR},
            </if>
            <if test="remark3 != null">
                REMARK3 = #{remark3,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>

    <!--首页-主要电商平台交易额走势,累计交易额-->
    <select id="selectTotalVolume" resultType="com.example.entity.StaTotal" parameterType="com.example.entity.StaTotal">
        select sum(index_value) totalVolume from tb_sta_total
        <trim prefix="where" prefixOverrides="and|or">
            <if test="dateBegin!=null and dateEnd!=null">
                AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
            </if>
            <if test="year!=null">
                AND YEAR = #{year,jdbcType=VARCHAR}
            </if>
            <if test="month!=null">
                AND MONTH = #{month,jdbcType=VARCHAR}
            </if>
            <if test="province!=null">
                AND PROVINCE = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city!=null">
                AND CITY = #{city,jdbcType=VARCHAR}
            </if>
            <if test="volumeType!=null">
                AND INDEX_TYPE like CONCAT('%',#{volumeType,jdbcType=VARCHAR},'%')
            </if>
            <if test="ramark1!=null">
                AND RAMARK1 = #{ramark1,jdbcType=VARCHAR}
            </if>
            <if test="remark1!=null">
                AND RAMARK1 = #{remark1,jdbcType=VARCHAR}
            </if>
            <if test="doubleParam!=null">
                AND INDEX_TYPE = '电子商务企业数'
            </if>
        </trim>
    </select>

    <!--首页-主要电商平台交易额走势,累计交易量-->
    <select id="selectTotalCount" resultType="com.example.entity.StaTotal" parameterType="com.example.entity.StaTotal">
        select sum(index_value) totalCount from tb_sta_total
        <trim prefix="where" prefixOverrides="and|or">
            <if test="dateBegin!=null and dateEnd!=null">
                AND date between #{dateBegin,jdbcType=VARCHAR} and #{dateEnd,jdbcType=VARCHAR}
            </if>
            <if test="year!=null">
                AND YEAR = #{year,jdbcType=VARCHAR}
            </if>
            <if test="month!=null">
                AND MONTH = #{month,jdbcType=VARCHAR}
            </if>
            <if test="province!=null">
                AND PROVINCE = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city!=null">
                AND CITY = #{city,jdbcType=VARCHAR}
            </if>
            <if test="ramark1!=null">
                AND RAMARK1 = #{ramark1,jdbcType=VARCHAR}
            </if>
            <if test="remark1!=null">
                AND RAMARK1 = #{remark1,jdbcType=VARCHAR}
            </if>
            <if test="doubleParam!=null">
                AND INDEX_TYPE = '电子商务从业人数'
            </if>
            <if test="countType!=null">
                AND INDEX_TYPE like CONCAT('%',#{countType,jdbcType=VARCHAR},'%')
            </if>
        </trim>
    </select>

    <!--首页-主要电商平台交易额走势,增量数据-->
    <select id="selectMonthVolume" resultType="com.example.entity.StaTotal" parameterType="com.example.entity.StaTotal">
        select sum(index_value) total,year,month from tb_sta_total where year
        = year(now()) and month = month(now())
        <include refid="dynamicWhereForMonthVolume"/>
        <if test="volumeType!=null">
            AND INDEX_TYPE like CONCAT('%',#{volumeType,jdbcType=VARCHAR},'%')
        </if>
        UNION
        select sum(index_value) total,year,month from tb_sta_total where  year
        = year(now()) and month = month(now())-1
        <include refid="dynamicWhereForMonthVolume"/>
        <if test="volumeType!=null">
            AND INDEX_TYPE like CONCAT('%',#{volumeType,jdbcType=VARCHAR},'%')
        </if>
        UNION
        select sum(index_value) total,year,month from tb_sta_total where year
        = year(now()) and month = month(now())
        <include refid="dynamicWhereForMonthVolume"/>
        <if test="countType!=null">
            AND INDEX_TYPE like CONCAT('%',#{countType,jdbcType=VARCHAR},'%')
        </if>
        UNION
        select sum(index_value) total,year,month from tb_sta_total where year
        = year(now()) and month = month(now())-1
        <include refid="dynamicWhereForMonthVolume"/>
        <if test="countType!=null">
            AND INDEX_TYPE like CONCAT('%',#{countType,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <sql id="dynamicWhereForMonthVolume">
        <if test="year!=null">
            AND YEAR = #{year,jdbcType=VARCHAR}
        </if>
        <if test="month!=null">
            AND MONTH = #{month,jdbcType=VARCHAR}
        </if>

        <if test="province!=null">
            AND PROVINCE = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city!=null">
            AND CITY = #{city,jdbcType=VARCHAR}
        </if>
        <if test="ramark1!=null">
            AND RAMARK1 = #{ramark1,jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>